<h1><%= @cat.name %></h1>

<table>
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>Birth date</td>
            <td><%= @cat.birth_date %></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><%= @cat.sex %></td>
        </tr>
    </tbody>
</table>

<p><%= @cat.description %></p>

<h2>Rental requests</h2>

<table>
    <thead>
        <tr>
            <th>Start date</th>
            <th>End date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% @cat_rental_requests.each do |request| %>
            <tr>
                <td><%= request.start_date %></td>
                <td><%= request.end_date %></td>
                <td><%= request.status %></td>
            </tr>
        <% end %>
    </tbody>
</table>